body {
  margin: 0;
  font-family: Cinzel, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.header {
  width: 100%;
  height: 12vh;
  background-color: black;
  position: fixed;
  z-index: 1000;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(185, 151, 104);
  text-align: center;
}

.logo h1 {
  font-size: 1.6rem;
}

.nav {
  height: 100vh;
  background-color: black;
  transform: translateX(-100%);
  transition: 0.3s ease;
}
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 0;
  line-height: 50px;
}

@media screen and (min-width: 1050px) {
  .header {
    
    background-color: rgba(0, 0, 0, 0.857);
    display: flex;
    transition: 0.3s ease-in;
  }
  .logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 30px;
  }
  .logo h1 {
    font-family: Cinzel;
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(185, 151, 104);
    opacity: 1;
    letter-spacing: 5px;
  }
  .nav {
    transform: unset;
    height: unset;
    width: 70%;
    background-color: transparent;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .menu__item {
    list-style: none;
    overflow: hidden;
  }
  .menu__item a {
    text-decoration: none;
    color: rgb(185, 151, 104);
    opacity: 1;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
  }
  .menu__item a::before {
    content: "";
    position: absolute;
    background-color: rgb(185, 151, 104);
    width: 60%;
    height: 3px;
    transition: 0.3s ease-in;
    bottom: 0px;
    transform: translateX(-101%);
  }
  .menu__item a:hover::before {
    transform: translateX(0);
  }
}

.section-products{
  padding-top: 20vh;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 40px;
}
.product-item{
  text-align: center;
  list-style: none;
  cursor: pointer;
  
}
.product-item a{
  text-decoration: none;
}
.product-item__image{
  width: 50%;
  margin: auto;
}
.product-item__image img{
  width: 100%;
  height: auto;
}
.product-item h2{
  font-family: sans-serif;
  font-size: 1.2rem;
  color: rgb(47, 41, 33);
  
}
.product-item h3{
  font-family: sans-serif;
  font-size: 1.4rem;
  color: rgb(47, 41, 33);
}




/* PRODUCT VIEW */

.product-view{
  padding-top: 12vh;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas: 
  "carousel titles"
  "specifications specifications"
  "features features";
  background-color: #ffffff;
}

.product-view-carousel{
  width: 100%;
  grid-area:carousel;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;

  
}
.product-view-carousel__bigImage{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-view-carousel__bigImage img {
  margin: auto;
}
.product-view-carousel__previewPics{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #dddddd 1px solid;
  padding-top: 10px;
  width: 90%;
  margin: auto;
}
.product-view-carousel__previewPics img{
  width: 12%;
  height: auto;
  margin-left: 20px;
  cursor: pointer;
}




.product-view-title-info{
  width: 90%;
  margin: 0 auto;
  grid-area: titles;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 30px;
}
.product-view-title-info h2{
  font-size: 1.6rem;
  text-align: left;
}
.product-view-title-info h3{
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
}
.product-view-title-info button{
  
  width: 100%;
  background-color: black;
  color: rgb(185, 151, 104);
  border: none;
  padding:13px 18px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
.product-view-specifications{
  grid-area:specifications ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 60px;
}
.product-view-specifications__ul{
  width: 100%;
  padding: 0;
}
.product-view-specifications__ul h3{
  font-size: 1.3rem;
}
  
.product-view-specifications__li{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-top: #dddddd 1px solid;
  font-size: 1rem;
}
.product-view-specifications__li h3{
  font-weight: 500;
  font-size: 1.1rem;
}
.product-view-specifications__li h4{
  font-weight: 400;
  font-size: 1rem;
}
.product-view-features{
  grid-area: features;
  margin: auto;
  margin-top: 60px;
  width: 70%;
  
}
.product-view-features{
  font-size: 1.3rem;
}
.product-view-features__ul{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin: auto;
  gap: 20px;
  padding: 0;
  font-size: 1rem;
  border-top: 1px solid #dddddd;
}
.product-view-features__li{
  list-style: none;
}
.product-view-features__li p{
  line-height: 24px;
}


.div-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.button-counter{
  margin: 10px;
}
.div-counter{
  display: flex;
  justify-content: center;
  align-items: center;

}
.div-counter button {
  background-color: white;
  border: none;
  color: rgb(185, 151, 104);
  font-size: 2rem;
  cursor: pointer;
  
}
.add-to-cart-button{
  background-color: white;
  border: solid rgb(185, 151, 104) 2px;
  border-radius: 7px;
  color: rgb(185, 151, 104);
  font-size: 1.5rem;
  cursor: pointer;
  
}
/* CART PAGE STYLES */

.cart-list{
  width: 100%;
  min-height: 100vh;
  padding-top: 18vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cart-item{
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
}
.cart-item__img{
  width: 200px;
  height: 200px;
}
.cart-item__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.alert-cart-no-products{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

